@import './element-ui.scss';
@import './customer.scss';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i {
    font-style: normal;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


/* 后台管理系统主体样式 */
#app {
    .app-wrapper {
        height: 100%;
        // 侧边栏样式（展开样式）
        .sidebar-container {
            transition: width 0.28s;
            height: 100%;
            position: fixed;
            font-size: 0px;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
            overflow: hidden;
            //reset element-ui css
            .horizontal-collapse-transition {
                transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
            }
            .scrollbar-wrapper {
                overflow-x: hidden!important;
                .el-scrollbar__view {
                    height: 100%;
                }
            }
            .el-menu {
                border: none;
                height: 100%;
                width: 200px;
                &.el-menu--collapse {
                    width: 80px;
                    text-align: center;
                    span[slot="title"] {
                        display: none;
                    }
                    .el-submenu__icon-arrow {
                        display: none;
                    }
                }
            }
        }
        // 右边区域样式
        .main-wrapper {
            min-height: 100%;
            margin-left: 200px;
            .navbar {
                padding: 0 10px 10px 10px;
                // background-color: yellowgreen;
                border-bottom: 1px solid yellowgreen;
                //面包屑导航
                .el-breadcrumb {
                    display: inline-block;
                    margin-left: 10px;
                    .is-link {
                        font-weight: normal;
                    }
                }
            }
            .main-box {
                padding: 10px;
            }
        }
    }
    // 收缩之后的样式
    .app-wrapper.shrink {
        .main-wrapper {
            margin-left: 80px;
        }
    }
}


